* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_4 {
  width: 990px;
  height: 827px;
  background: rgba(111,197,197,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_12 {
  width: 990px;
  height: 319px;
  background: rgba(244,168,103,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_14 {
  width: 491px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 146px;
  left: 250px;
  font-family: Chau Philomene One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v3_100 {
  width: 990px;
  height: 58px;
  background: rgba(161,156,156,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_53 {
  width: 727px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 467px;
  left: 132px;
  font-family: Chau Philomene One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v54_16 {
  width: 175px;
  height: 178px;
  background: url("../images/v54_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 803px;
  overflow: hidden;
}
