<!DOCTYPE html>
<html>
  <title>Hello, Ditto!</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}" type="text/css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Chau+Philomene+One&display=swap" rel="stylesheet" />
</head>

<div class="out1">
  <section class="msger">
        {% include "navbar.html" %}
        <div class="msger-header-title">
        </div>
        <div class="msger-header-options">
          <span><i class="fas fa-cog"></i></span>
        </div>
    
      <main class="msger-chat">
          <p>{{clean_chat(info.content) | safe}}</p>
      </main>
  </section>
  <button id = "dis_Button" onclick="window.location.href = '/';">Go Back</button>
</div>
</html>
