:root {
    --bg: rgba(111,197,197,1);
    --text: #000000;
    --border-grd1: #000000;
    --border-grd2: #111222;
    --card-grd1: rgba(244,168,103,1);
    --card-grd2: rgba(244,168,103,1);
    --radial-center: rgba(244,168,103,1);
    --radial-edge: rgba(244,168,103,1);
    --shadow: rgba(161,156,156,1);
  }
  
  body {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    
    background-color: var(--bg);
    font-family: Chau Philomene One;
    
    margin: 1em;
    box-sizing: border-box;
    
    color: var(--text);
    transition: all ease 0.3s;
  }
  
  .box {
    background-color: yellow;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  h1 {
    font-size: 45px;
    text-align: center;
    font-weight: Regular;
    font-family: Chau Philomene One;
  }
  
  h2 {
    font-size: 34px;
    font-weight: Regular;
    font-family: Chau Philomene One;
  }
  
  body::before,
  body::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 10%;
  }
  
  body::before {
    background: #0C101B;
    filter: url(#noiseFilter);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 100%;
    height: fit-content;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }

  button {
    background-color: #6FC6C6;
    border:none;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    position: relative;
    background: linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    border-radius: 20px;
    transition: all ease 0.3s;
    filter: drop-shadow(0px 0px 0px rgb(173,155,255,0));
    z-index: 1;
  }
  
  .card > p {
    text-align: center;
  }
  
  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 20px;
    border: 2px solid black;
  }
  
  .filter {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 2;
    background: #000;
    filter: url(#noiseFilter2);
    opacity: 16%;
    clip-path: url(#rounded-clip);
    mix-blend-mode: hard-light;
    transition: all ease 0.3s;
  }
  
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: -2;
    border-radius: 20px;
    opacity: 30%;
    transition: all ease 0.3s;
  }
  
  .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgb(173,155,255,0);
    transition: all ease 0.3s;
  }
  
  
  /* Hover */
  
  .card:hover > .backdrop {
    width: 340px;
    height: 340px;
    background: radial-gradient(circle at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: -2;
    border-radius: 33px;
    opacity: 30%;
    transition: all ease 0.3s;
  }
  
  .card:hover {
    background: radial-gradient(50% 90% at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: 3;
    transition: all ease 0.3s;
  }

  .card:hover > .shadow {
    box-shadow: 0px 4px 80px 10px rgba(243, 152, 6, 0.892);
    z-index: 1;
    transition: all ease 0.3s;
  }
  
  .v55_10 {
    width: 175px;
    height: 189px;
    background: url("images/v55_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 648px;
    left: 1300px;
    overflow: hidden;
  }