
.box {
    background-color: yellow;
    width: 380px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }

.out1 {
    width: 100%;
    min-height: 100%;
    background: rgba(111,197,197,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.out2 {
    width: 100%;
    height: calc(100vh - 556px);
    background: rgba(244,168,103,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container {
    width: 200px;
    height: 400px;
    background: #FFFDF4;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    border-radius: 8px;
}

h1 {
    font-size: 55px;
    text-align: center;
    font-weight: Regular;
    font-family: Chau Philomene One;
}

.info {
    margin-top: 2%;
    font-size: 25px;
    text-align: center;
    font-weight: Regular;
    font-family: Chau Philomene One;
}