<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" type="text/css"> 
<link href="https://fonts.googleapis.com/css?family=Chau+Philomene+One&display=swap" rel="stylesheet" />
{% extends "base.html" %}
{% block content %}
    <div class="out1">
        <div class="out2"></div>
        <div class="cute"></div>
    </div>
    <div class="container">
        <h5 class="my-3 border-bottom pb-2">Log In</h5>
        <form method="post">
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <label for="username" class="form-label">User ID</label>
                <input type="text" class="form-control" name="username" id="username"
                    value="{{ form.username.data or '' }}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password"
                    value="{{ form.password.data or '' }}">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
{% endblock %}
